.card{
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    position: relative;
}

.card:hover img{
    opacity: 100%;
}

.card img{
    border-radius: 15px;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
}

.card:hover #tituloCard, .card:hover .btn-projetos{
    display: flex;
    opacity: 1;
}

#tituloCard{
    color: white;
    font-size: 19px;
    opacity: 0;
    transition: 0.5s ease;
    margin: 15px;
    z-index: 1;
}

.btn-projetos{
    padding: 5px 0px;
    display: inline;
    width: 40%;
    color: white;
    margin: 0px 15px;
    opacity: 0;
    transition: 0.5s ease;
    text-decoration-line: none;
    border-bottom: 2px solid red;
    z-index: 1;
}

#demo{
    width: 28%;
}