.home-pag{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 50px 0px;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 50px 0px;
}

.card-home{
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 77vh;
    background-color: rgba(146, 140, 133, 0.267);
    border-radius: 15px;
    padding: 15px;
}

.info-card-home{
    margin: 5px;
    width: 90%;
}

.card-home > img{
    margin-top: 15px;
    width: 30%;
    border-left: 5px solid #8400BD;
    border-radius: 5px;
}

.info-card-home h1{
    font-size: 22px;
    margin-top: 10px;
}

.info-card-home p{
    font-size: 16px;
    margin-top: 15px;
}

.info-card-home p > span{
    font-weight: bold;
    color: #8400BD;
}

.botoes-home{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.botoes-home a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #8400BD;
    text-decoration-line: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px 3px 0px 0px;
    width: 40px;
    height: 40px;
    transition: 0.5s ease-out;
}

.botoes-home a:hover{
    color: rgba(0, 0, 0, 0.774);
    border-bottom: 3px solid #ffffffbb;
    background-color: #8400BD;
}

.botoes-home > a > img{
    width: 25px;
}

/*Formação*/

.formacao{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloForm{
    text-transform: uppercase;
    font-size: 18px;
    border-right: 2px solid #8400BD;
    padding-right: 7px;
    animation: none;
}

#forms{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.forms{
    border-left: 3px solid #8400BD;
    margin-left: 5px;
}

.forms h1{
    padding-left: 10px;
    font-weight: normal;
    font-size: 18px;
    width: 250px;
}

.forms h2{
    padding-left: 10px;
    font-weight: normal;
    font-size: 16px;
}

.andamento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.andamento p{
    color: #8400BD;
    font-weight: bold;
    font-size: 16px;
}

.andamento span{
    color: #5c0481c9;
    font-weight: bold;
    font-size: 16px;
}

.andamento img{
    width: 20px;
    margin-left: 5px;
}

.tecnologias{
    width: 100%;
    height: 400px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#tituloTec{
    text-transform: uppercase;
    font-size: 18px;
    border-right: 2px solid #8400BD;
    padding-right: 7px;
    animation: none;
}

.container-tecs{
    width: 70%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.tecs{
    width: 120px;
}

#html{
    background-image: url(../../../public/assets/img/logo-html-hover.svg);
    background-position: center;
    background-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#html img{
    transition: 0.5s ease-in-out;
}

#html img:hover{
    opacity: 0%;
}


#css{
    background-image: url(../../../public/assets/img/logo-css-hover.svg);
    background-position: center;
    background-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#css img{
    width: 139px;  
    object-fit: cover;
    object-position: center;
    transition: 0.5s ease-in-out;
}

#css img:hover{
    opacity: 0%;
}

#js{
    background-image: url(../../../public/assets/img/logo-js-hover.svg);
    background-position: center;
    background-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#js img{
    transition: 0.5s ease-in-out;
}

#js img:hover{
    opacity: 0%;
}

#git{
    background-image: url(../../../public/assets/img/logo-git-hover.svg);
    background-position: center;
    background-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#git img{
    transition: 0.5s ease-in-out;
}

#git img:hover{
    opacity: 0%;
}

#react{
    background-image: url(../../../public/assets/img/logo-react-hover.svg);
    background-position: center;
    background-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#react img{
    transition: 0.5s ease-in-out;
}

#react img:hover{
    opacity: 0%;
}
