@keyframes animacao-home{
    0%{
        transform: translateY(-30%);
        opacity: 0;
        filter: blur(15px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.home-pag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

/*Home*/

.sobre{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../../../public/assets/img/background-home.jpg);
    background-position: center;
    background-size: cover;
    gap: 5px;
    padding: 50px 0px;

}

.card-sobre{
    background-color: #f0f8ff17;
    backdrop-filter: blur(5px);
    margin-top: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    animation: animacao-home both 2s ease;
    gap: 35px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 40%;
}

.apresentacao{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 75vh;
}

.apresentacao h1{
    font-size: 23px;
    margin-top: 10px;
    color: rgb(218, 218, 218);
}

.apresentacao p{
    font-size: 16px;
    margin-top: 15px;
    color: rgb(218, 218, 218);
}
.apresentacao > article{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 30px;
    gap: 5px;
    font-size: 16px;
    color: rgb(218, 218, 218);
}

.card-sobre > img{
    width: 35%;
    border-radius: 5px;
}

.card-sobre hr{
    width: 95%;
    height: 1px;
    background-color: #474747;
    margin: 20px 0;
}

.infos-sobremim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-sobremim div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
    color: rgba(218, 218, 218, 0.74);
}

.infos-sobremim > div > img{
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-tec{
    display: flex;
}

.skills h1{
    font-size: 18px;
    height: 25px;
}

.skills > h1 > span{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #777777;
}

.tec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tec-icons{
    height: 27px;
    filter: grayscale(1);
    transition: 0.2s ease;
    cursor: pointer;
    user-select: none;
}

.tec-icons:hover{
    filter: grayscale(0);
}

.nav-sobre{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 200px;
}

.nav-sobre a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    border: 2px solid #a3000000;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    transition: 0.5s ease-out;
    gap: 5px;
}

.nav-sobre a:hover{
    border: 2px solid #ffffffbb;

}

.nav-sobre > a > img{
    width: 20px;
    object-fit: cover;
}

/*Projeto Destaque*/

.projeto-destaque{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(34, 34, 34), #121315);
    padding: 75px 0px 10px 0px;
}



#tituloPD{
    justify-self: start;
    align-items: start;
    font-size: 20px;
    color: aliceblue;
    animation: animacao-home both 2s ease;
}

.titulo-btn{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.pd{
    display: flex;
    width: 100%;
    height: 80vh;
    padding-top: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: start;
    gap: 50px;
    animation: animacao-home both 2s ease;
}

.area-contatos{
    padding: 25px 0 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area-contatos hr{
    width: 80%;
    height: 1px;
    margin: 5px 0;
    background-color: #474747;
}

.card-contatos{
    background-image: linear-gradient(to left, #e0e0e0 75%, #ffffff);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 0;
    padding: 15px;
    width: 85%;
    border-radius: 4px;
    margin-top: 15px;
}

.card-contatos h1{
    font-size: 20px;
}

.card-contatos p{
    font-size: 16px;
}

#btn-contateme{
    width: 150px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(218, 218, 218);
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    text-decoration-line: none;
    transition: 0.2s ease;
}

#btn-contateme:hover{
    background-color: rgb(32, 32, 32);
}

@media (max-width: 900px){
    
    .card-sobre{
        background-color: #f0f8ff17;
        backdrop-filter: blur(5px);
        margin-top: 45px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 80vh;
        animation: animacao-home both 2s ease;
        gap: 25px;
    }

    .apresentacao{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 110%;
        height: 75vh;
    }
}

@media (max-width: 750px){
    
    .sobre{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url(../../../public/assets/img/background-home.jpg);
        background-position: center;
        background-size: cover;
        gap: 5px;
        padding: 50px 0px;
    }
    
    .card-sobre{
        background-color: #f0f8ff17;
        backdrop-filter: blur(5px);
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 85%;
        height: 80vh;
        animation: animacao-home both 2s ease;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: -75px;
    }
    
    .apresentacao{
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 60vh;
        width: 220%;
    }
    
    .apresentacao h1{
        font-size: 20px;
        margin-top: 10px;
        color: rgb(218, 218, 218);
    }
    
    .apresentacao p{
        font-size: 14.5px;
        margin-top: 15px;
        color: rgb(218, 218, 218);
    }
    .apresentacao > article{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        height: 30px;
        gap: 5px;
        font-size: 16px;
        color: rgb(218, 218, 218);
    }
    
    .card-sobre > img{
        width: 20%;
    }
    
    .skills h1{
        font-size: 15.5px;
    }
    
    .skills > h1 > span{
        font-size: 13.5px;
    }
    
    .tec-icons{
        height: 20px;
    }
    
    .nav-sobre a{
        min-width: 30px;
        min-height: 30px;
    }
    
    .nav-sobre > a > img{
        width: 17px;
    }
}

@media (max-width: 600px){

    .card-sobre{
        background-color: #f0f8ff17;
        backdrop-filter: blur(5px);
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 85%;
        height: 80vh;
        animation: animacao-home both 2s ease;
    }

    .projeto-destaque{
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to top, rgb(34, 34, 34), #121315);
        padding: 75px 0px 10px 0px;
    }

    .pd{
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    .apresentacao{
        margin: 100px 5px 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 60vh;
        width: 220%;
    }

    .card-sobre > img{
        display: none;
    }

    .skills > h1 > span{
        display: none;
    }

    .area-contatos{
        height: 350px;
        padding: 250px 0 75px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}