@keyframes animacao-home{
    0%{
        transform: translateY(-30%);
        opacity: 0;
        filter: blur(15px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.home-pag{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

/*Home*/

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../../../public/assets/img/background-home.jpg);
    background-position: center;
    background-size: cover;
    gap: 5px;
    padding: 50px 0px;

}

.card-home{
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90vh;
    animation: animacao-home both 2s ease;
}

.info-card-home{
    margin: 5px;
    width: 90%;
}

.info-card-home h1{
    font-size: 45px;
    margin-top: 10px;
    color: rgb(231, 244, 255);
}

.info-card-home p{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(231, 244, 255);
}

.info-card-home p > span{
    color: #ff0000;
}

.botoes-home{
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.botoes-home a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ff00009f;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 3px 3px 0px 0px;
    width: 120px;
    height: 40px;
    transition: 0.5s ease-out;
    gap: 15px;
}

#whatsapp-btn{
    width: 40px;
}

.botoes-home a:hover{
    border-bottom: 3px solid #ffffffbb;
    background-color: #ff00009f;
}

.botoes-home > a > img{
    width: 25px;
}

/*Formação*/

.formacao{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #121315, rgb(34, 34, 34));
}

#tituloForm{
    text-transform: uppercase;
    font-size: 18px;
    border-right: 2px solid #ff0000;
    padding-right: 7px;
    color: #f0f8ff;
    animation: animacao-home both 2s ease;
}

#forms{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
    animation: animacao-home both 2s ease;
}

.forms{
    border-left: 3px solid #ff0000;
    margin-left: 5px;
}

.forms h1{
    padding-left: 10px;
    font-weight: normal;
    font-size: 18px;
    width: 250px;
    color: aliceblue;
}

.forms h2{
    padding-left: 10px;
    font-weight: normal;
    font-size: 16px;
    color: aliceblue;
}

.andamento{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.andamento p{
    color: #ff0000;
    font-weight: bold;
    font-size: 16px;
}

.andamento span{
    color: #ff0000c2;
    font-weight: bold;
    font-size: 16px;
}

.andamento img{
    width: 20px;
    margin-left: 5px;
}

/*Projeto Destaque*/

.projeto-destaque{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 75px 0px 10px 0px;
}

#tituloPD{
    text-transform: uppercase;
    font-size: 18px;
    border-right: 2px solid #ff0000;
    padding-right: 7px;
    color: aliceblue;
    animation: animacao-home both 2s ease;
}

.pd::before{
    content: '(Passe o mouse para mais Informações.)';
    display: flex;
    color: white;
    font-size: 14px;
}

.pd{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    animation: animacao-home both 2s ease;
}



@media (max-width: 700px) {
    .home-pag{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    /*Home*/
    
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: url(../../../public/assets/img/background-home.jpg);
        background-position: center;
        background-size: cover;
        gap: 5px;
        padding: 50px 0px;
    }
    
    .card-home{
        margin-top: -2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 90vh;
        animation: none;
    }
    
    .info-card-home{
        margin: 5px;
        width: 90%;
    }
    
    .info-card-home h1{
        font-size: 25px;
        margin-top: 10px;
        color: rgb(231, 244, 255);
    }
    
    .info-card-home p{
        font-size: 13.5px;
        margin-top: 15px;
        color: rgb(231, 244, 255);
    }
    
    .info-card-home p > span{
        color: #ff0000;
    }
    
    .botoes-home{
        padding: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
    }

    .botoes-home p{
        display: none;
    }
    
    .botoes-home a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #ff00009f;
        text-decoration-line: none;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.075);
        border-radius: 3px 3px 0px 0px;
        width: 40px;
        height: 40px;
        transition: 0.5s ease-out;
        gap: 15px;
        font-size: 14px;
    }
    
    .botoes-home a:hover{
        border-bottom: 3px solid #ffffffbb;
        background-color: #ff00009f;
    }
    
    .botoes-home > a > img{
        width: 20px;
    }
    
    /*Formação*/
    
    .formacao{
        margin-top: -5px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #121315, rgb(34, 34, 34));
    }
    
    #tituloForm{
        text-transform: uppercase;
        font-size: 18px;
        border-right: 2px solid #ff0000;
        padding-right: 7px;
        color: #f0f8ff;
        animation: none;
    }
    
    #forms{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 60%;
        justify-content: space-evenly;
        align-items: center;
        animation: none;
    }
    
    .forms{
        border-left: 3px solid #ff0000;
        margin-left: 5px;
    }
    
    .forms h1{
        padding-left: 10px;
        font-weight: normal;
        font-size: 18px;
        width: 250px;
        color: aliceblue;
    }
    
    .forms h2{
        padding-left: 10px;
        font-weight: normal;
        font-size: 16px;
        color: aliceblue;
    }
    
    .andamento{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
    }
    
    .andamento p{
        color: #ff0000;
        font-weight: bold;
        font-size: 16px;
    }
    
    .andamento span{
        color: #ff0000c2;
        font-weight: bold;
        font-size: 16px;
    }
    
    .andamento img{
        width: 20px;
        margin-left: 5px;
    }
    
    /*Projeto Destaque*/
    
    .projeto-destaque{
        width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(34, 34, 34);
        padding: 75px 0px 10px 0px;
    }
    
    #tituloPD{
        text-transform: uppercase;
        font-size: 18px;
        border-right: 2px solid #ff0000;
        padding-right: 7px;
        color: aliceblue;
        animation: none;
    }

    .pd::before{
        content: '(Toque para mais Informações.)';
        display: flex;
        color: white;
        font-size: 14px;
        animation: none;
    }
    
    .pd{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        animation: none;
    }


}