@keyframes animacao-projetos{
    0%{
        transform: translateY(-30%);
        opacity: 0;
        filter: blur(15px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.projetos-pag{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #222222;
}

.projetos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    animation: animacao-projetos both 0.8s ease;
}

#tituloProjetos{
    font-size: 20px;
    color: rgb(218, 218, 218);
}

.projetos > span{
    font-size: 16px;
    color: rgb(218, 218, 218);
    width: 500px;
}

.projetos-dev{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#btn-ver-mais{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: rgb(218, 218, 218);
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    text-decoration-line: none;
}

#btn-ver-mais > hr{
    width: 0px;
    height: 2px;
    border-radius: 55px;
    border: none;
    transition: 0.5s ease-in-out;
    background-color: #ff0000;
    opacity: 40%;
    margin-top: 2.5px;
}

#btn-ver-mais:hover hr{
    background-color: #ff0000;
    width: 97%;
    opacity: 100%;
}

@media (max-width: 900px){

    .projetos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
        animation: none;
    }

    .projetos > span{
        font-size: 16px;
        color: rgb(218, 218, 218);
        width: 500px;
    }
}

@media (max-width: 650px){

    .projetos > span{
        font-size: 16px;
        color: rgb(218, 218, 218);
        width: 240px;
    }
}