.projetos-pag{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 80px 0px;
}

.projetos{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#tituloProjetos{
    text-transform: uppercase;
    font-size: 18px;
    border-right: 2px solid #8400BD;
    padding-right: 7px;
    animation: none;
}

.imgSlider{
    width: 350px;
}