*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(34, 34, 34);
}

.app{
    display: flex;
}
  
*::-webkit-scrollbar{
    width: 7px;
    background-color: rgb(34, 34, 34);
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(163, 0, 0);
}
  